@import url(reset.css);


/*===========fonts==============*/
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat/Montserrat-Regular.otf);
}

@font-face {
	font-family: Moserrat Bold;
	src: url(../fonts/Montserrat/Montserrat-Bold.otf);
}

@font-face {
	font-family: KaushanScript;
	src: url(../fonts/Kaushan/KaushanScript-Regular.otf);
}


/*===========Animations===========*/
@keyframes gradientus {
	0% {
	box-shadow: 0 -600px 200px -120px rgba(81, 183, 170, 0.5) inset,
				0 600px 200px -120px rgba(239, 182, 29, 0.5) inset;
	}
	25% {
	box-shadow: 0 -300px 200px -120px rgba(239, 182, 29, 0.5) inset,
				0  300px 200px -120px rgba(243, 129, 129, 0.5) inset;
	}
	50% {
	box-shadow: 0 -300px 200px -120px rgba(239, 182, 29, 0.5) inset,
				0  600px 200px -120px rgba(243, 129, 129, 0.5) inset;

	}
	75% {
	box-shadow: 0 -600px 200px -120px rgba(239, 182, 29, 0.5) inset,
				0  600px 200px -120px rgba(243, 129, 129, 0.5) inset;
	}
	100% {
	box-shadow: 0 -600px 200px -120px rgba(243, 129, 129, 0.5) inset,
				0  600px 200px -120px rgba(81, 183, 170, 0.5) inset;

	}
}

/*=============Theme colors=============*/

	/*Standard theme*/
/*:root {
	--primary-color: #f38181;
	--accent-color: #fce38a;
	--main-bg-color: #eaffd0;
	--secondary-color-blue: #95e1d3;
}*/

	/*new*/
:root {
	--primary-color: #52bf95;
	--accent-color: #ffcf4a;
	--main-bg-color: #eaffd0;
	--secondary-color-blue: #95e1d3;
}


* {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.single-page {
	height: 100vh;
	position: relative;
	width: 100%;
}

.animated-bg {
	/*========Standard theme==========*/
	/*background: linear-gradient(
	  to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/bg_banner.png);*/
	-webkit-animation: gradientus 10s ease-in-out
	 0s infinite alternate;
	-o-animation: gradientus 10s ease-in-out
	 0s infinite alternate;
	animation: gradientus 10s ease-in-out
	 0s infinite alternate;
    background: linear-gradient(
	  to bottom,
      rgba(81, 183, 170, 0.8),
      rgba(255, 207, 74, 0.8)
    ),
    url(https://wallpprs.media/preview/negative-space_wallpprs.com_.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.content {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.label {
	display: inline-block;
	padding-top: 30px;
	padding-left: 30px;
	color: #fff;
	font-family: Montserrat;
	font-size: 2em;
	font-weight: bold;
}

.sandwich {
	display: none;
}

.mob-menu {
	display: none;
}

.menu {
	display: inline-block;
	float: right;
	padding-top: 40px;
}

.menu li {
	height: 30px;
	display: inline-block;
	float: left;
	margin-right: 40px;
	color: #fff;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 1em;
	transition: all .1s ease-in-out;
}

.menu li:hover {
	color: var(--accent-color);
	border-bottom: 3px solid var(--accent-color);
}

a {
	text-decoration: none;
	color: #fff;
}

#current {
	color: var(--accent-color);
	border-bottom: 3px solid var(--accent-color);
}

#current a {
	color: var(--accent-color);
}

.icon {
	display: inline-block;
	float: right;
}

.content h2 {
	text-align: center;
	margin: 8vh 0px;
	color: #fff;
	font-family: KaushanScript;
	font-size: 4em;
	text-transform: capitalize;
}

.content h1 {
	text-align: center;
	margin: 4vh 4vw;
	color: #fff;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 800%;
	text-transform: uppercase;
}

.content h1 span {
	font-weight: normal;
}

.btn {
	background: transparent;
	border: 3px solid #fff;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Montserrat;
	height: 40px;
	margin: 0 auto;
	text-transform: uppercase;
	width: 160px;
	transition: all .3s ease-in-out;
	margin-bottom: 60px;
}

.btn:hover {
	background: rgba(0,0,0,.2);
}


.slider {
	width: 90%;
	height: 10vh;
	margin: 0 auto;
}

.slider-item {
	cursor: pointer;
	width: 16vw;
	float: left;
	margin-right: 30px;
	font-family: Montserrat;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.slider-item:last-child {
	margin-right: -15px;
}

.slider-item hr {
	height: 3px;
	background: #fff;
	border-width: 0;
}

#current-s-i hr {
	background: 
		linear-gradient(
			to right,
			var(--primary-color) 70px,
			#fff 70px
		);
}

.story h4 {
	font-size: 1.5em;
	font-family: KaushanScript;
	text-align: center;
	padding-top: 50px;
}

.story h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.2em;
	font-family: Montserrat;
	text-align: center;
	margin-top: 20px;
}

.story hr {
	margin: 30px auto;
	background: var(--primary-color);
	width: 60px;
	height: 3px;
	border-width: 0;
}

.story p {
	text-align: justify;
	margin: 40px 14vw;
	color: #acacac;
	font-family: Montserrat;
	line-height: 24px;
}

.story .img-box {
	display: flex;
	width: 100%;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 80px;
	justify-content: center;
}

.story .img-box li {
	float: left;
	width: 380px;
	height: 250px;
	margin-right: 20px;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.story .img-box li:hover {
	transform: translate(-4px, -4px);
	filter: blur(2px);
}

.story .img-box li:last-child {
	margin-right: 0px;
}

.counter-wrapper {
	margin-top: 30px;
	background: var(--secondary-color-blue);
	width: 100%;
	height: 175px;
}

.counter-wrapper ul {
	display: block;
	width: 1200px;
	height: 22vh;
	margin: 0 auto;
}

.counter-wrapper ul li {
	position: relative;
	height: 24.5vh;
	width: 15vw;
	cursor: pointer;
	color: #fff;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 4em;
	text-align: center;
	line-height: 175px;
	float: left;
	transition: all .3s ease-in-out;
}

.counter-wrapper ul li:hover {
	background: var(--primary-color);
}

.counter-wrapper ul li p {
	display: block;
	color: var(--secondary-color-blue);
	text-align: center;
	font-size: 0.2em;
	margin: 0;
	padding: 0;
	margin-top: -45px;
}

.counter-wrapper ul li p:hover {

} 


/*=====Responsive=====*/

@media screen and (max-width: 960px) {

	.single-page {
		height: 100%;
	}

	.content {
		width: 100%;
		height: 100%;
	}
	
	.menu {
		display: none;
	}

	.content h1 {
		font-size: 4em;
	}

	.label:after {
		margin-left: 4px;
		color: var(--accent-color);
		font-style: italic;
		content: "mobile";
		font-family: Montserrat;
		font-size: 0.5em;
	}

	.sandwich {
		float: right;
		margin-top: 35px;
		margin-right: 35px;
		background: transparent;
		font-size: 1em;
		display: inline-block;
		color: #fff;
		font-size: 2em;
		font-weight: bold;
		border: 0;
		cursor: pointer;
		transition: all .2s ease-in-out;
		margin-bottom: 35px;
	}

	.sandwich:hover {
		color: var(--accent-color);
	}

	.mob-menu {
		width: 100vw;
		transition: all .3s ease-in-out;
	}

	.mob-menu li {
		text-transform: uppercase;
		font-family: Montserrat;
		font-size: 1.2em;
		text-align: center;
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		margin-bottom: 8px;
		padding: 2px;
		background: rgba(255,255,255,.3);
		transition: all .2s ease-in-out;
		cursor: pointer;
	}

	.mob-menu li:hover {
		background: rgba(255,255,255,.5);
		border-bottom: 3px solid var(--accent-color);
	}

	.slider-item {
		font-size: 1em;
	}

	#current-s-i hr {
		background: var(--primary-color);
	}

	/*TODO==FIX story p margin*/
	.story p {
		margin: 20px 6vw;
	}

	.story .img-box {
		display: none;
	}

	.counter-wrapper {
		display: none;
	}

}


@media screen and (max-height: 760px) {
	
	.single-page {
		height: 100%;
	}

}

@media screen and (max-width: 1240px) {

}